.sliders__slide {
  display: grid;
  grid-template-rows: 260px 10px;
  position: relative;
  padding: 48px 62px;
  background-color: #fff;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}