.feedback-telephone__number {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: var(--main-text-color);
  text-decoration: none;
}

.feedback-telephone__number:before {
  content: '';
  width: 15px;
  height: 23px;
  background-image: url(../../../image/mobile-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
}