.rate-home__tabs-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  list-style-type: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 48px 0 0 0;
  box-sizing:border-box;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .rate-home__tabs-content {
    grid-auto-columns: 220px;
    grid-auto-flow: column;
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}