.header__button-icon {
  position: relative;
  gap: 10px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  visibility: hidden;
}

.header__button-icon:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  visibility: visible;
  transform: rotate(50deg);
}

.header__button-icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  visibility: visible;
  transform: rotate(-5deg);
}
