.header__nav {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1380px;
  padding: 25px 100px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__nav {
    width: 100%;
    padding: 10px 20px 15px 20px;
    gap: 10px;
  }
}