.rate-home__container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 52px 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .rate-home__container {
    width: 100%;
    padding: 40px 0;
  }
}