.rate-home__frame {
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 51px 20px 23px 20px;
}

@media screen and (max-width: 767px) {
  .rate-home__frame {
    padding: 20px 20px 15px 20px;
  }
}