.sliders__image {
  display: block;
  width: 300px;
  position: absolute;
  top: 20px;
  right: 20px;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .sliders__image {
    width: 280px;
    top: 194px;
  }
}