.button {
    height: 34px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}